* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    background: #616161;
    justify-content: space-evenly;
    padding: 50px 50px;

}

h2 {
    justify-self: center;
    margin: 30px;
}

.questoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.div-questoes {
    width: 48%;
}

.cruzadinha {
    width: 50%;
    height: 50%;
    justify-self: center;
}

.tabela-cruzadinha {
    width: 100%;
}

.pergunta {
    margin-bottom: 15px;
    font-size: 18px;
}

.num-questao {
    color: rgb(0, 255, 34);
}

td {
    width: 21px;
    height: 21px;
    text-align: center;
    padding: 0;
    color: rgb(0, 255, 34);
}

input:disabled {
    background-color: rgb(0, 255, 34);
}

input {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border: none;
}